/Java/CalculatorDemo/build/
/Java/Karkulcin Byznis/nbproject/private/
/Java/Karkulcin Byznys/nbproject/private/
/Java/ObjectiveCalculator/nbproject/private/
/Java/CalculatorFX/nbproject/private/
/Java/CalculatorFX/dist/
/Java/CalculatorFX/build/
/Java/CalculatorFXX/nbproject/private/
/Java/CalculatorFXX/build/
/Java/CalculatorFXX/dist/
/Java/CalculatorFX2/nbproject/private/
/Java/Karkulcin Byznys/build/
/Java/Mine Sweeper/nbproject/private/
/Java/Mine Sweeper/build/
/Java/Mine Sweeper/dist/
/Java/JUnitTests/nbproject/private/
/Java/JUnitTests/build/
/Java/fiks cisla/nbproject/private/
/Java/fiks cisla/build/