/Java/CalculatorDemo/build/
/Java/Karkulcin Byznis/nbproject/private/
/Java/Karkulcin Byznys/nbproject/private/
/Java/ObjectiveCalculator/nbproject/private/
/Java/CalculatorFX/nbproject/private/
/Java/CalculatorFX/dist/
/Java/CalculatorFX/build/
/Java/CalculatorFXX/nbproject/private/
/Java/CalculatorFXX/build/
/Java/CalculatorFXX/dist/
/Java/CalculatorFX2/nbproject/private/
/Java/Karkulcin Byznys/build/
/Java/Mine Sweeper/nbproject/private/
/Java/Mine Sweeper/build/
/Java/Mine Sweeper/dist/
/Java/JUnitTests/nbproject/private/
/Java/JUnitTests/build/
/Java/fiks cisla/nbproject/private/
/Java/fiks cisla/build/
/Java/XOR/nbproject/private/
/Java/Basic3DProjection/nbproject/private/
/Java/Basic3DProjection/build/
/Java/Basic3DProjection/dist/
/Java/Maze3D/nbproject/private/
/Java/Maze3D/build/
/Java/Maze3D/dist/
/Java/Maze3D_20190514/build/
/Java/Maze3D_20190514/dist/
/Java/Maze3D_20190514/nbproject/private/
/Java/MonteCarloCircle/build/
/Java/MonteCarloCircle/nbproject/private/
/Java/MonteCarloSquare/build/
/Java/MonteCarloSquare/nbproject/private/
/Java/Maze3D_20190604/build/
/Java/Maze3D_20190604/dist/
/Java/Maze3D_20190604/nbproject/private/